In [1]:
a=10
type(a)

int

In [3]:
int()

0

In [4]:
int('12')

12

In [8]:
type(int('12'))

int

In [9]:
print('Hello World')

Hello World

In [10]:
print(12)

12

In [11]:
age=21
print("My age is:",age)

My age is: 21

In [13]:
### Different ways to print f string
print(f"my age is:{age}")

my age is:21

In [18]:
## format
name="Nikhil"
age=21
print("My name is {} and age is {}".format(name,age))

My name is Nikhil and age is 21

In [20]:
## placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Nikhil and age is 21

In [21]:
name="Nikhil"
age=21
degree="BTECH"
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 21 and i have completed: my degree of BTECH with the name of Nikhil

In [23]:
print(f"My age is {age} and i have completed: my degree of {degree} with the name of {name}")

My age is 21 and i have completed: my degree of BTECH with the name of Nikhil

### CONTROL FLOW
#### DECISION MAKING STATEMENTS

In [24]:
## if statements
age=18
if age>=18:
    print("I can vote")

I can vote

In [27]:
## if statements
age=16
if age<18:
    print("I can't vote")

I can't vote

In [33]:
input()

 nihkl

'nihkl'

In [34]:
## to take input
name=input()

 Nihkil Chopra

In [35]:
name

'Nihkil Chopra'

In [36]:
age=int(input("Enter your age"))

Enter your age 21

In [37]:
age

21

In [38]:
type(age)

int

In [39]:
age=int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are young blood")

Enter your age 21

You are young blood

In [40]:
## if else statement
age=int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are young blood")
else:
    print("Thank you we will let you know")

Enter your age 55

Thank you we will let you know

In [42]:
## discount of 20% and discount of 30%
product_price=int(input("Enter your product price"))
if product_price>1000:
    print("The price of product is {}".format(product_price*0.8))
else:
    print("The price of product is {}".format(product_price*0.7))

Enter your product price 5000

The price of product is 4000.0

In [1]:
## discount of 20% and discount of 30%
## if-elif statement
product_price=int(input("Enter your product price"))
if product_price>3000:
    print("The price of product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    print("The price of product is {}".format(product_price*0.7))
else:
    print("The price of product is {}".format(product_price*0.6))

Enter your product price 5000

The price of product is 4000.0

In [4]:
## discount of 20% and discount of 30%
## nested if-elif statement
product_price=int(input("Enter your product price"))
if product_price>3000:
    print("The price of product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congrats you'll receive an additional gift")
    print("The price of product is {}".format(product_price*0.7))
else:
    print("The price of product is {}".format(product_price*0.6))

Enter your product price 2999

Congrats you'll receive an additional gift
The price of product is 2099.2999999999997

In [5]:
## Single statement Suites
val=int(input("Enter the number"))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number 1000

Go Home

## Loops statements
1. while loop
2. for loop
3. nested loop
4. loop control(break,continue,pass)

In [10]:
# while loop
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("It's time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
It's time for retirement

In [13]:
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money")

1000
900
800
700
600
500
400
300
200
100
Put more money

## for loop

In [14]:
lst=["Nikhil",1,2,3,4,"banana"]

In [15]:
type(lst)

list

In [16]:
lst[0]

'Nikhil'

In [17]:
lst[4]

4

In [18]:
lst

['Nikhil', 1, 2, 3, 4, 'banana']

In [20]:
## x is a temporary variable
for x in lst:
    print(x)

Nikhil
1
2
3
4
banana

In [21]:
fruits_list=["Mango","Cherry","Apple","Papaya","banana"]

In [22]:
for x in fruits_list:
    print(x)
    if x=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
banana

In [23]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [24]:
fruit[1]

'a'

In [25]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [26]:
for i in range(1,6,2):
    print(i)

1
3
5

In [30]:
## nested loops

n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print('\r')

*
**
***
****
*****
******
*******

In [43]:
## loop controls
## Break and continue
fruits_list=["Mango","Cherry","Apple","Papaya","banana"]

In [45]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

In [46]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Papaya
banana

In [47]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
banana